@model Product
@{
    ViewData["Title"] = "Product";
}

<div class="container mt-24">
    <div class="row text-center d-xl-flex justify-content-xl-center">
        <div class="col-xl-5 align-self-center mr-2"><img class="float-right" src="~/assets/img/product_img/@Model.ImagePath" width="500" /></div>
        <div class="col-xl-5 text-center ml-2">
            <h1 class="text-left">@Model.Name</h1>
            <div class="row">
                <div class="col text-left">
                    <small class="text-left">@Model.Id</small>
                </div>
            </div>
            <h3 class="text-left text-primary">₴@Model.Price</h3>
            <div class="row mt-6">
                <div class="col d-flex flex-column text-left mt-2">
                    <small class="text-muted d-block">Sex</small>
                    <span class="text-left d-block">@Model.Sex</span>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col d-flex flex-column text-left mt-2">
                    <small class="text-muted d-block">Age</small>
                    <span class="text-left d-block">@Model.Age</span>
                </div>
            </div>

            <div class="row mt-6">
                <div class="col-xl-7 text-left d-xl-flex align-items-xl-center">
                    <form id="product-form" method="post" asp-action="AddToCart">
                        @Html.HiddenFor(product => product.Id, new { Value = Model.Id })
                        <div class="form-group">
                            <label><small class="text-muted">Quantity</small></label>
                            <input name="quantity" class="form-control" type="number" />
                        </div>
                        <button class="btn btn-primary w-100 text-center border rounded-0 border-primary mt-2" type="submit">Add to card</button>
                    </form>
                </div>
            </div>
            <div role="tablist" id="accordion-1" class="mt-12">
                <div class="card border-left-0 border-top-0 border-right-0 border-dark rounded-0">
                    <div role="tab" class="card-header bg-white">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" class="d-flex justify-content-between w-100 text-dark text-decoration-none">
                                <span>PRODUCT INFO</span>
                                <span>+</span>
                            </a>
                        </h5>
                    </div>
                    <div role="tabpanel" data-parent="#accordion-1" class="collapse show item-1">
                        <div class="card-body">
                            <p class="card-text visible">@Model.Description</p>
                        </div>
                    </div>
                </div>
                <div class="card border-left-0 border-top-0 border-right-0 border-dark rounded-0">
                    <div role="tab" class="card-header bg-white">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="#accordion-1 .item-2" class="d-flex justify-content-between w-100 text-dark text-decoration-none"><span>RETUTN &amp; REFUND POLICY</span><span>+</span></a>
                        </h5>
                    </div>
                    <div role="tabpanel" data-parent="#accordion-1" class="collapse item-2">
                        <div class="card-body">
                            <p class="card-text">
                                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card border-0 border-dark rounded-0">
                    <div role="tab" class="card-header bg-white">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="#accordion-1 .item-3" class="d-flex justify-content-between w-100 text-dark text-decoration-none"><span>SHIPPING INFO</span><span>+</span></a>
                        </h5>
                    </div>
                    <div role="tabpanel" data-parent="#accordion-1" class="collapse item-3">
                        <div class="card-body">
                            <p class="card-text">
                                Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}

