@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "../Shared/_Layout";
}


<section class="main-section">
    <h1 class="header">Log In</h1>
    <div class="redirection"><span>New to this site?</span><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a></div>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-main-section">
            <div class="form-group">
                <lable asp-for="Input.Email">Login</lable>
                <input asp-for="Input.Email" class="form-control" type="text">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <lable asp-for="Input.Password">Password</lable>
                <input asp-for="Input.Password" class="form-control" type="password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-links-section">
            <a class="form-link" asp-page="./ForgotPassword">Forgot your password?</a>
            <button type="submit" asp-page-handler="SendVerificationEmail" class="form-link">Resend email confirmation</button>
        </div>
        <button type="submit" class="btn btn-primary rounded-0 form-btn">Log in</button>
    </form>
</section>
@if ((Model.ExternalLogins?.Count ?? 0) != 0)
{
    <div class="spliter">
        <span>or log in with</span>
    </div>
    <section class="external-logins-section">
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="social-button @provider.DisplayName.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                }
            </div>
        </form>
    </section>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}