@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "../Shared/_Layout";
}

<section class="main-section">

    <h1 class="header">
        Sign Up
    </h1>
    <div class="redirection"><span>Already a member?</span><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log In</a></div>

    <form asp-route-returnUrl="@Model.ReturnUrl" metod="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-main-section">
            <div class="row justify-content-between">
                <div class="col-sm-6 form-group">
                    <lable asp-for="Input.FirstName">First name</lable>
                    <input class="form-control" type="text" asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                </div>
                <div class="col-sm-6 form-group">
                    <lable asp-for="Input.LastName">Last name</lable>
                    <input class="form-control" type="text" asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group">
                <lable id="phoneLable" asp-for="Input.PhoneNumber">Phone number</lable>
                <input class="form-control" type="tel" asp-for="Input.PhoneNumber" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

            </div>

            <div class="form-group">
                <lable asp-for="Input.Email">E-mail</lable>
                <input class="form-control" type="email" asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <lable asp-for="Input.Password">Password</lable>
                <input class="form-control" asp-for="Input.Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>

            </div>

            <div class="form-group">
                <lable asp-for="Input.ConfirmPassword">Confirm password</lable>
                <input  class="form-control" asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            </div>
        </div>
        <button class="btn btn-primary rounded-0 form-btn">Registration</button>
    </form>
</section>
@if ((Model.ExternalLogins?.Count ?? 0) != 0)
{
    <div class="spliter">
        <span>or sign up with</span>
    </div>
    <section class="external-logins-section">
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="social-button @provider.DisplayName.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                }
            </div>
        </form>
    </section>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
